<form style="margin-left:10px;" method="post" action="">
    <div>
        <span style="color:red">@ViewBag.Msg</span>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">帳號</label>
        <input type="text" class="form-control" id="Account" name="account" placeholder="輸入帳號" value="">
    </div>
    <button type="submit" class="btn btn-primary">確定</button>
</form>